# Environment setting
環境設定

In [1]:
import os
import requests
import sys
from pathlib import Path
from pprint import pprint
from typing import Optional

import pandas as pd


# determine branch, default is main
branch: str = "main"

# determine subfolder, default is None (petsard/demo/)
subfolder: Optional[str] = "best-practices"


# Check if running in Google Colab, if so, download the utils.py file from GitHub
is_colab: bool = "COLAB_GPU" in os.environ
if is_colab:
    utils_url = (
        f"https://raw.githubusercontent.com/nics-tw/petsard/{branch}/demo/utils.py"
    )
    response = requests.get(utils_url)

    if response.status_code == 200:
        with open("utils.py", "w") as f:
            f.write(response.text)

        Path("__init__.py").touch()
    else:
        raise RuntimeError(
            f"Failed to download utils.py. Status code: {response.status_code}"
        )


# If not colab, and also contains subfolder, add the correct path of util.py
else:
    if subfolder:
        sys.path.append(os.path.dirname(os.getcwd()))

In [ ]:
# Import the utils module
from utils import (
    get_yaml_path,
    setup_environment,
)

# Setup the environment
setup_environment(
    is_colab,
    branch,
    benchmark_data=[
        "best-practices_categorical_high-cardinality",
    ],
    subfolder=subfolder,
)

In [3]:
# Import PETsARD
from petsard import Executor

# Best practices: Categorical variables - Uniform encoding
最佳實踐：類別變項 - 均勻編碼

In [4]:
students = pd.read_csv("benchmark/best-practices_categorical_high-cardinality.csv")


students_columns = {}
for column in students.columns:
    students_columns[column] = {}
    students_columns[column]["cardinality"] = students[column].nunique()
    students_columns[column]["dtype"] = str(students[column].dtype)

print("columns: ")
pprint(students_columns)

columns:
{'admission_type': {'cardinality': 11, 'dtype': 'object'},
 'admission_type_code': {'cardinality': 11, 'dtype': 'object'},
 'birth_day': {'cardinality': 31, 'dtype': 'int64'},
 'birth_month': {'cardinality': 12, 'dtype': 'int64'},
 'birth_year': {'cardinality': 7, 'dtype': 'int64'},
 'college': {'cardinality': 4, 'dtype': 'object'},
 'college_code': {'cardinality': 6, 'dtype': 'object'},
 'department_code': {'cardinality': 24, 'dtype': 'int64'},
 'department_name': {'cardinality': 20, 'dtype': 'object'},
 'disabled_code': {'cardinality': 2, 'dtype': 'int64'},
 'disabled_type': {'cardinality': 2, 'dtype': 'object'},
 'identity': {'cardinality': 14, 'dtype': 'object'},
 'identity_code': {'cardinality': 14, 'dtype': 'int64'},
 'nationality': {'cardinality': 63, 'dtype': 'object'},
 'nationality_code': {'cardinality': 62, 'dtype': 'object'},
 'sex': {'cardinality': 2, 'dtype': 'object'},
 'university': {'cardinality': 2, 'dtype': 'object'},
 'university_code': {'cardinality': 2, 'dtype': 'int64'},
 'zodiac': {'cardinality': 12, 'dtype': 'object'}}

In [5]:
students.head(5).T

                                 0         1        2       3        4
birth_year                    2005      2003     2002    2002     2000
birth_month                      4         1       11      12       10
birth_day                        9        16        7      24        7
zodiac                         牡羊座       摩羯座      天蠍座     摩羯座      天秤座
university_code                  2         1        1       1        1
university                  國立政治大學    國立臺灣大學   國立臺灣大學  國立臺灣大學   國立臺灣大學
college_code                   700      2000     1000    9000     1000
college                        理學院       理學院      文學院  電機資訊學院      文學院
department_code                702      2080     1070    9020     1040
department_name               心理學系  地理環境資源學系   日本語文學系  資訊工程學系      哲學系
admission_type_code             01        46       51      46       51
admission_type       學士班 (指考分發/聯考)      繁星推薦  學士班申請入學    繁星推薦  學士班申請入學
disabled_code                    0         0        0       0        0
disabled_type                無身心障礙     無身心障礙    無身心障礙   無身心障礙    無身心障礙
nationality_code               NaN       NaN      NaN     NaN      NaN
nationality                   中華民國      中華民國     中華民國    中華民國     中華民國
identity_code                    1         1        1       1        1
identity                       一般生       一般生      一般生     一般生      一般生
sex                              女         女        男       男        女

# YAML Configuration for PETsARD
PETsARD 的 YAML 設定

In [6]:
yaml_file_case: str = "categorical.yaml"

yaml_path_case: str = get_yaml_path(
    is_colab=is_colab,
    yaml_file=yaml_file_case,
    branch=branch,
    subfolder="best-practices",
)

Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Reporter:
  output:
    method: 'save_data'
    source: 'Postprocessor'
...

### Execution and Result
執行與結果

In [7]:
# Initialize and run executor
exec_case = Executor(config=yaml_path_case)
exec_case.run()

Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo] save to csv...

In [8]:
exec_case.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]"
].head(5).T

                          0        1        2        3       4
birth_year             2004     2001     2004     2004    2003
birth_month               5       12        2        4       5
birth_day                16       20       21        6       3
zodiac                  摩羯座      天秤座      雙子座      射手座     金牛座
university_code         002      002      002      001     002
university           國立臺灣大學   國立政治大學   國立政治大學   國立臺灣大學  國立政治大學
college_code            100      100     2000     2000    2000
college                資訊學院     資訊學院      理學院      文學院  電機資訊學院
department_code         102      703      104     9020     703
department_name         哲學系    應用數學系    資訊科學系   電機工程學系  電機工程學系
admission_type_code      51       51       51       51      46
admission_type         繁星推薦  學士班申請入學  學士班申請入學  學士班申請入學    繁星推薦
disabled_code             1        1        1        1       1
disabled_type         有身心障礙    有身心障礙    有身心障礙    有身心障礙   有身心障礙
nationality_code        NaN      NaN      NaN      NaN     NaN
nationality            中華民國     中華民國     中華民國     中華民國    中華民國
identity_code             5       14        3        6       3
identity                一般生      一般生      一般生      一般生     一般生
sex                       男        女        男        男       男