# Environment setting
環境設定

In [1]:
import os
import requests
import sys
from pathlib import Path
from pprint import pprint
from typing import Optional

import pandas as pd


# determine branch, default is main
branch: str = "main"

# determine subfolder, default is None (petsard/demo/)
subfolder: Optional[str] = "best-practices"


# Check if running in Google Colab, if so, download the utils.py file from GitHub
is_colab: bool = "COLAB_GPU" in os.environ
if is_colab:
    utils_url = (
        f"https://raw.githubusercontent.com/nics-tw/petsard/{branch}/demo/utils.py"
    )
    response = requests.get(utils_url)

    if response.status_code == 200:
        with open("utils.py", "w") as f:
            f.write(response.text)

        Path("__init__.py").touch()
    else:
        raise RuntimeError(
            f"Failed to download utils.py. Status code: {response.status_code}"
        )


# If not colab, and also contains subfolder, add the correct path of util.py
else:
    if subfolder:
        sys.path.append(os.path.dirname(os.getcwd()))

In [ ]:
import importlib

# Import the utils module
from utils import (
    get_yaml_path,
    setup_environment,
)


# Setup the environment
setup_environment(
    is_colab,
    branch,
    benchmark_data=[
        "best-practices_categorical_high-cardinality",
    ],
    subfolder=subfolder,
)

# Setup utils in best-practices
best_practices_utils = importlib.import_module("best-practices.best_practices_utils")

In [3]:
# Import PETsARD
from petsard import Executor

# Best practices: Categorical variables - Uniform encoding
最佳實踐：高基數變項 - 約束條件

In [4]:
students = pd.read_csv("benchmark/best-practices_categorical_high-cardinality.csv")


students_columns = {}
for column in students.columns:
    students_columns[column] = {}
    students_columns[column]["cardinality"] = students[column].nunique()
    students_columns[column]["dtype"] = str(students[column].dtype)

print("columns: ")
pprint(students_columns)

columns:
{'admission_type': {'cardinality': 11, 'dtype': 'object'},
 'admission_type_code': {'cardinality': 11, 'dtype': 'object'},
 'birth_day': {'cardinality': 31, 'dtype': 'int64'},
 'birth_month': {'cardinality': 12, 'dtype': 'int64'},
 'birth_year': {'cardinality': 7, 'dtype': 'int64'},
 'college': {'cardinality': 4, 'dtype': 'object'},
 'college_code': {'cardinality': 6, 'dtype': 'object'},
 'department_code': {'cardinality': 24, 'dtype': 'int64'},
 'department_name': {'cardinality': 20, 'dtype': 'object'},
 'disabled_code': {'cardinality': 2, 'dtype': 'int64'},
 'disabled_type': {'cardinality': 2, 'dtype': 'object'},
 'identity': {'cardinality': 14, 'dtype': 'object'},
 'identity_code': {'cardinality': 14, 'dtype': 'int64'},
 'nationality': {'cardinality': 63, 'dtype': 'object'},
 'nationality_code': {'cardinality': 62, 'dtype': 'object'},
 'sex': {'cardinality': 2, 'dtype': 'object'},
 'university': {'cardinality': 2, 'dtype': 'object'},
 'university_code': {'cardinality': 2, 'dtype': 'int64'},
 'zodiac': {'cardinality': 12, 'dtype': 'object'}}

In [5]:
students.head(5).T

                                 0         1        2       3        4
birth_year                    2005      2003     2002    2002     2000
birth_month                      4         1       11      12       10
birth_day                        9        16        7      24        7
zodiac                         牡羊座       摩羯座      天蠍座     摩羯座      天秤座
university_code                  2         1        1       1        1
university                  國立政治大學    國立臺灣大學   國立臺灣大學  國立臺灣大學   國立臺灣大學
college_code                   700      2000     1000    9000     1000
college                        理學院       理學院      文學院  電機資訊學院      文學院
department_code                702      2080     1070    9020     1040
department_name               心理學系  地理環境資源學系   日本語文學系  資訊工程學系      哲學系
admission_type_code             01        46       51      46       51
admission_type       學士班 (指考分發/聯考)      繁星推薦  學士班申請入學    繁星推薦  學士班申請入學
disabled_code                    0         0        0       0        0
disabled_type                無身心障礙     無身心障礙    無身心障礙   無身心障礙    無身心障礙
nationality_code               NaN       NaN      NaN     NaN      NaN
nationality                   中華民國      中華民國     中華民國    中華民國     中華民國
identity_code                    1         1        1       1        1
identity                       一般生       一般生      一般生     一般生      一般生
sex                              女         女        男       男        女

# YAML Configuration of Categorical variables for PETsARD
PETsARD 的類別變項 YAML 設定

In [6]:
yaml_file_case: str = "categorical.yaml"

yaml_path_case: str = get_yaml_path(
    is_colab=is_colab,
    yaml_file=yaml_file_case,
    branch=branch,
    subfolder="best-practices",
)

Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Reporter:
  output:
    method: 'save_data'
    source: 'Postprocessor'
...

### Execution and Result
執行與結果

In [7]:
# Initialize and run executor
exec_case = Executor(config=yaml_path_case)
exec_case.run()

Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo] save to csv...

In [8]:
output = exec_case.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]"
].copy()

output.head(5).T

                          0        1        2        3       4
birth_year             2004     2001     2004     2004    2003
birth_month               5       12        2        4       5
birth_day                16       20       21        6       3
zodiac                  摩羯座      天秤座      雙子座      射手座     金牛座
university_code         002      002      002      001     002
university           國立臺灣大學   國立政治大學   國立政治大學   國立臺灣大學  國立政治大學
college_code            100      100     2000     2000    2000
college                資訊學院     資訊學院      理學院      文學院  電機資訊學院
department_code        1070     9010      104     2090     702
department_name         哲學系    應用數學系    資訊科學系   電機工程學系  電機工程學系
admission_type_code      51       51       51       51      46
admission_type         繁星推薦  學士班申請入學  學士班申請入學  學士班申請入學    繁星推薦
disabled_code             1        1        1        1       1
disabled_type         有身心障礙    有身心障礙    有身心障礙    有身心障礙   有身心障礙
nationality_code        NaN      NaN      NaN      NaN     NaN
nationality            中華民國     中華民國     中華民國     中華民國    中華民國
identity_code             5       14        3        6       3
identity                一般生      一般生      一般生      一般生     一般生
sex                       男        女        男        男       男

# Invalid on Constraints
約束條件違反

## Birthday and Zodiac Sign: Field Constraints (`field_constraints`)
生日與星座：欄位約束 (`field_constraints`)

In [9]:
best_practices_utils.check_invalid(output, ["birthday"])

# 152 invalid birthday dates found

   index                                            reason  year  month  day
0     18    該年6月沒有31日 Day 31 does not exist in 6 that year  2001      6   31
1     24  該年11月沒有31日 Day 31 does not exist in 11 that year  2002     11   31
2     70    該年6月沒有31日 Day 31 does not exist in 6 that year  2002      6   31
3    120    該年2月沒有30日 Day 30 does not exist in 2 that year  2006      2   30
4    148    該年6月沒有31日 Day 31 does not exist in 6 that year  2004      6   31

Counts by reason:
reason
該年11月沒有31日 Day 31 does not exist in 11 that year    21
該年2月沒有29日 Day 29 does not exist in 2 that year      29
該年2月沒有30日 Day 30 does not exist in 2 that year      31
該年2月沒有31日 Day 31 does not exist in 2 that year      19
該年4月沒有31日 Day 31 does not exist in 4 that year      15
該年6月沒有31日 Day 31 does not exist in 6 that year      18
該年9月沒有31日 Day 31 does not exist in 9 that year      19
Name: index, dtype: int64

Total invalid records: 152
Unique invalid records: 152

In [10]:
best_practices_utils.check_invalid(output, ["zodiac"])

# 9199 invalid zodiac signs found

   index                      reason  month  day zodiac expected_zodiac
0      0  星座與出生日期不匹配 Zodiac mismatch      5   16    摩羯座             金牛座
1      1  星座與出生日期不匹配 Zodiac mismatch     12   20    天秤座             射手座
2      2  星座與出生日期不匹配 Zodiac mismatch      2   21    雙子座             雙魚座
3      3  星座與出生日期不匹配 Zodiac mismatch      4    6    射手座             牡羊座
4      5  星座與出生日期不匹配 Zodiac mismatch      1   28    摩羯座             水瓶座

Counts by reason:
reason
星座與出生日期不匹配 Zodiac mismatch    9199
Name: index, dtype: int64

Total invalid records: 9199
Unique invalid records: 9199

## University, College, and Department: Field Combination Constraints (`field_combinations`)
大學、學院、與系所：欄位組合約束 (`field_combinations`)

In [11]:
best_practices_utils.check_invalid(output, ["university"])

# 3213 invalid universities found

   index university_code university  \
0      0             002     國立臺灣大學
1      6             002     國立臺灣大學
2      7             002     國立臺灣大學
3      8             002     國立臺灣大學
4     11             002     國立臺灣大學

                                              reason
0  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
1  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
2  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
3  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
4  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...

Counts by reason:
reason
大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and name mismatch)    3213
Name: index, dtype: int64

Total invalid records: 3213
Unique invalid records: 3213

In [12]:
best_practices_utils.check_invalid(output, ["college"])

# 6477 invalid colleges found

   index college_code college  \
0      0          100    資訊學院
1      1          100    資訊學院
2      3         2000     文學院
3      4         2000  電機資訊學院
4      5         9000    資訊學院

                                              reason
0  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
1  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
2  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
3  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
4  學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and nam...

Counts by reason:
reason
學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name mismatch)       1716
學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name mismatch)       4280
學院代碼與名稱不符，學院代碼應對應 資訊學院 (College code and name mismatch)       127
學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and name mismatch)     354
Name: index, dtype: int64

# 8284 invalid university-college relationships found

   index university_code college_code  \
0      2             002         2000
1      4             002         2000
2      5             002         9000
3      7             002         2000
4      8             002         2000

                                              reason
0  學院 2000 不屬於大學 002 (College does not belong to ...
1  學院 2000 不屬於大學 002 (College does not belong to ...
2  學院 9000 不屬於大學 002 (College does not belong to ...
3  學院 2000 不屬於大學 002 (College does not belong to ...
4  學院 2000 不屬於大學 002 (College does not belong to ...

Counts by reason:
reason
學院 100 不屬於大學 001 (College does not belong to university)       88
學院 1000 不屬於大學 002 (College does not belong to university)     686
學院 2000 不屬於大學 002 (College does not belong to university)    7022
學院 9000 不屬於大學 002 (College does not belong to university)     473
學院 ZA0 不屬於大學 001 (College does not belong to university)       15
Name: index, dtype: int64

Total invalid records: 14761
Unique invalid records: 9574

In [13]:
best_practices_utils.check_invalid(output, ["department"])

# 8411 invalid college-department relationships found

   index college_code department_code  \
0      0          100            1070
1      1          100            9010
2      2         2000             104
3      4         2000             702
4      5         9000             703

                                              reason
0  系所 1070 不屬於該學院 (Department does not belong to ...
1  系所 9010 不屬於該學院 (Department does not belong to ...
2  系所 104 不屬於該學院 (Department does not belong to c...
3  系所 702 不屬於該學院 (Department does not belong to c...
4  系所 703 不屬於該學院 (Department does not belong to c...

Counts by reason:
reason
系所 101 不屬於該學院 (Department does not belong to college)      354
系所 1010 不屬於該學院 (Department does not belong to college)     167
系所 102 不屬於該學院 (Department does not belong to college)      384
系所 1020 不屬於該學院 (Department does not belong to college)     218
系所 103 不屬於該學院 (Department does not belong to college)      389
系所 1030 不屬於該學院 (Department does not belong to college)     181
系所 104 不屬於該學院 (Department does not belong to college)      375
系所 1040 不屬於該學院 (Department does not belong to college)     173
系所 1050 不屬於該學院 (Department does not belong to college)     194
系所 1060 不屬於該學院 (Department does not belong to college)     236
系所 1070 不屬於該學院 (Department does not belong to college)     199
系所 1090 不屬於該學院 (Department does not belong to college)     207
系所 2010 不屬於該學院 (Department does not belong to college)      52
系所 2020 不屬於該學院 (Department does not belong to college)      56
系所 2030 不屬於該學院 (Department does not belong to college)      59
系所 2040 不屬於該學院 (Department does not belong to college)      60
系所 2070 不屬於該學院 (Department does not belong to college)      68
系所 2080 不屬於該學院 (Department does not belong to college)      68
系所 2090 不屬於該學院 (Department does not belong to college)      55
系所 701 不屬於該學院 (Department does not belong to college)      801
系所 702 不屬於該學院 (Department does not belong to college)      844
系所 703 不屬於該學院 (Department does not belong to college)     1631
系所 9010 不屬於該學院 (Department does not belong to college)     822
系所 9020 不屬於該學院 (Department does not belong to college)     818
Name: index, dtype: int64

# 9248 invalid departments found

   index department_code department_name  \
0      0            1070             哲學系
1      1            9010           應用數學系
2      2             104           資訊科學系
3      3            2090          電機工程學系
4      4             702          電機工程學系

                                              reason
0  系所代碼與名稱不符，系所代碼應對應 日本語文學系 (Department code and ...
1  系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and ...
2  系所代碼與名稱不符，系所代碼應對應 哲學系 (Department code and nam...
3  系所代碼與名稱不符，系所代碼應對應 大氣科學系 (Department code and n...
4  系所代碼與名稱不符，系所代碼應對應 心理學系 (Department code and na...

Counts by reason:
reason
系所代碼與名稱不符，系所代碼應對應 中國文學系 (Department code and name mismatch)        539
系所代碼與名稱不符，系所代碼應對應 人類學系 (Department code and name mismatch)         199
系所代碼與名稱不符，系所代碼應對應 化學系 (Department code and name mismatch)          210
系所代碼與名稱不符，系所代碼應對應 哲學系 (Department code and name mismatch)          567
系所代碼與名稱不符，系所代碼應對應 圖書資訊學系 (Department code and name mismatch)       243
系所代碼與名稱不符，系所代碼應對應 地理環境資源學系 (Department code and name mismatch)     246
系所代碼與名稱不符，系所代碼應對應 地質科學系 (Department code and name mismatch)        217
系所代碼與名稱不符，系所代碼應對應 外國語文學系 (Department code and name mismatch)       225
系所代碼與名稱不符，系所代碼應對應 大氣科學系 (Department code and name mismatch)        230
系所代碼與名稱不符，系所代碼應對應 心理學系 (Department code and name mismatch)        1025
系所代碼與名稱不符，系所代碼應對應 應用數學系 (Department code and name mismatch)        727
系所代碼與名稱不符，系所代碼應對應 戲劇學系 (Department code and name mismatch)         216
系所代碼與名稱不符，系所代碼應對應 教育學系 (Department code and name mismatch)         426
系所代碼與名稱不符，系所代碼應對應 數學系 (Department code and name mismatch)          176
系所代碼與名稱不符，系所代碼應對應 日本語文學系 (Department code and name mismatch)       204
系所代碼與名稱不符，系所代碼應對應 歷史學系 (Department code and name mismatch)         592
系所代碼與名稱不符，系所代碼應對應 物理學系 (Department code and name mismatch)         213
系所代碼與名稱不符，系所代碼應對應 資訊工程學系 (Department code and name mismatch)       796
系所代碼與名稱不符，系所代碼應對應 資訊科學系 (Department code and name mismatch)       1421
系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and name mismatch)       776
Name: index, dtype: int64

Total invalid records: 17659
Unique invalid records: 9938

## Nationality and Nationality Code: Missing Value Group Constraints (`nan_group`)
國籍與國籍代碼：遺失值群組約束 (`nan_group`)

In [14]:
best_practices_utils.check_invalid(output, ["nationality"])

# 1370 invalid nationalities found

   index nationality_code nationality  \
0     19              113        中華民國
1     20              113        中華民國
2     21              113        中華民國
3     23              009        中華民國
4     25              019        中華民國

                                              reason
0  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
1  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
2  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
3  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
4  中華民國國籍不應有國籍代碼 (ROC nationality should not have...

Counts by reason:
reason
中華民國國籍不應有國籍代碼 (ROC nationality should not have nationality code)    1370
Name: index, dtype: int64

Total invalid records: 1370
Unique invalid records: 1370

# YAML Configuration for PETsARD
PETsARD 的 YAML 設定

In [15]:
yaml_file_case: str = "high-cardinality.yaml"

yaml_path_case: str = get_yaml_path(
    is_colab=is_colab,
    yaml_file=yaml_file_case,
    branch=branch,
    subfolder="best-practices",
)

Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Constrainer:
  demo:
    max_trials: 500
    field_constraints:
      # 出生年限制 Birth year restriction
      - (birth_year >= 1990) & (birth_year <= 2020)
      # 出生日限制 Birth day minimum restriction
      - birth_day >= 1
      # 出生月日限制：包含 1990-2020 的閏年列表
      # Birth month and day restrictions, including list of leap years between 1990-2020
      - |
        (((birth_month == 1) | (birth_month ==  3) | (birth_month ==  5) | (birth_month == 7) |
          (birth_month == 8) | (birth_month == 10) | (birth_month == 12)
         ) & (birth_day <= 31)
        ) |
        (((birth_month == 4) | (birth_month == 6) | (birth_month == 9) | (birth_month == 11)
         ) & (birth_day <= 30)
        ) |
        ((birth_month == 2) & (
          (((birth_year == 1992) | (birth_year == 1996) | (birth_year == 2000) |
            (birth_year == 2004) | (birth_year == 2008) | (birth_year == 2012) |
            (birth_year == 2016) | (birth_year == 2020)
           ) & (birth_day <= 29) |
          (birth_day <= 28)
          )
         )
        )
      # 星座與出生日期的對應關係 Zodiac Sign and Birth Date Correspondence
      - |
        ((zodiac == '摩羯座') &
        (((birth_month == 12) & (birth_day >= 22)) |
        ((birth_month == 1) & (birth_day <= 19)))) |

        ((zodiac == '水瓶座') &
        (((birth_month == 1) & (birth_day >= 20)) |
        ((birth_month == 2) & (birth_day <= 18)))) |

        ((zodiac == '雙魚座') &
        (((birth_month == 2) & (birth_day >= 19)) |
        ((birth_month == 3) & (birth_day <= 20)))) |

        ((zodiac == '牡羊座') &
        (((birth_month == 3) & (birth_day >= 21)) |
        ((birth_month == 4) & (birth_day <= 19)))) |

        ((zodiac == '金牛座') &
        (((birth_month == 4) & (birth_day >= 20)) |
        ((birth_month == 5) & (birth_day <= 20)))) |

        ((zodiac == '雙子座') &
        (((birth_month == 5) & (birth_day >= 21)) |
        ((birth_month == 6) & (birth_day <= 21)))) |

        ((zodiac == '巨蟹座') &
        (((birth_month == 6) & (birth_day >= 22)) |
        ((birth_month == 7) & (birth_day <= 22)))) |

        ((zodiac == '獅子座') &
        (((birth_month == 7) & (birth_day >= 23)) |
        ((birth_month == 8) & (birth_day <= 22)))) |

        ((zodiac == '處女座') &
        (((birth_month == 8) & (birth_day >= 23)) |
        ((birth_month == 9) & (birth_day <= 22)))) |

        ((zodiac == '天秤座') &
        (((birth_month == 9) & (birth_day >= 23)) |
        ((birth_month == 10) & (birth_day <= 23)))) |

        ((zodiac == '天蠍座') &
        (((birth_month == 10) & (birth_day >= 24)) |
        ((birth_month == 11) & (birth_day <= 22)))) |

        ((zodiac == '射手座') &
        (((birth_month == 11) & (birth_day >= 23)) |
        ((birth_month == 12) & (birth_day <= 21))))
    field_combinations:
      # 大學代碼與大學名稱的對應關係 University code and university name mapping
      -
        - {'university_code': 'university'}
        - {
            '001': ['國立臺灣大學'],
            '002': ['國立政治大學'],
          }
      # 學院代碼與學院名稱的對應關係 College code and college name mapping
      -
        - {'college_code': 'college'}
        - {
            # 臺大 NTU
            '1000': ['文學院'],
            '2000': ['理學院'],
            '9000': ['電機資訊學院'],
            # 政大 NCCU
            '100': ['文學院'],
            '700': ['理學院'],
            'ZA0': ['資訊學院']
          }
      # 大學代碼與學院代碼的對應關係 University code and college code mapping
      -
        - {'university_code': 'college_code'}
        - {
            '001': ['1000', '2000', '9000'],
            '002': ['100', '700', 'ZA0']
          }
      # 系所代碼與系所名稱的對應關係 Department code and department name mapping
      -
        - {'department_code': 'department_name'}
        - {
            # 臺大 NTU
            '1010': ['中國文學系'],
            '1020': ['外國語文學系'],
            '1030': ['歷史學系'],
            '1040': ['哲學系'],
            '1050': ['人類學系'],
            '1060': ['圖書資訊學系'],
            '1070': ['日本語文學系'],
            '1090': ['戲劇學系'],
            '2010': ['數學系'],
            '2020': ['物理學系'],
            '2030': ['化學系'],
            '2040': ['地質科學系'],
            '2070': ['心理學系'],
            '2080': ['地理環境資源學系'],
            '2090': ['大氣科學系'],
            '9010': ['電機工程學系'],
            '9020': ['資訊工程學系'],
            # 政大 NCCU
            '101': ['中國文學系'],
            '102': ['教育學系'],
            '103': ['歷史學系'],
            '104': ['哲學系'],
            '701': ['應用數學系'],
            '702': ['心理學系'],
            '703': ['資訊科學系']
          }
      # 學院代碼與系所代碼的對應關係 College code and department code mapping
      -
        - {'college_code': 'department_code'}
        - {
            # 臺大 NTU
            '1000': ['1010', '1020', '1030', '1040', '1050', '1060', '1070', '1090'],
            '2000': ['2010', '2020', '2030', '2040', '2070', '2080', '2090'],
            '9000': ['9010', '9020'],
            # 政大 NCCU
            '100': ['101', '102', '103', '104'],
            '700': ['701', '702'],
            'ZA0': ['703']
          }
    nan_groups:
      nationality_code:
        nan_if_condition:
          nationality:
            - '中華民國' # ROC (Taiwan)
Reporter:
  output:
    method: 'save_data'
    source: 'Constrainer'
...

### Execution and Result
執行與結果

In [16]:
# Initialize and run executor
exec_case = Executor(config=yaml_path_case)
exec_case.run()

Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo] save to csv...

In [17]:
output_w_const = exec_case.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo]"
].copy()

output_w_const.head(5).T

                          0        1        2        3       4
birth_year             2004     2001     2004     2003    2003
birth_month               6       12        2        8       4
birth_day                19       10       14       27      30
zodiac                  巨蟹座      雙子座      天秤座      牡羊座     摩羯座
university_code         002      002      002      001     002
university           國立臺灣大學   國立政治大學   國立政治大學   國立臺灣大學  國立政治大學
college_code            100      100     2000     2000    2000
college                資訊學院     資訊學院      理學院      文學院  電機資訊學院
department_code         101     1090      703     9010     703
department_name         哲學系    應用數學系    資訊科學系     歷史學系  電機工程學系
admission_type_code      51       51       51       51      46
admission_type         繁星推薦  學士班申請入學  學士班申請入學  學士班申請入學    繁星推薦
disabled_code             1        1        1        1       1
disabled_type         有身心障礙    有身心障礙    有身心障礙    有身心障礙   有身心障礙
nationality_code        NaN      NaN      NaN      NaN     NaN
nationality            中華民國     中華民國     中華民國     中華民國    中華民國
identity_code             5       14        3        6       3
identity                一般生      一般生      一般生      一般生     一般生
sex                       男        男        男        男       男

# Invalid on Constraints: After setting Constraints
約束條件違反：在設定約束條件之後

In [18]:
best_practices_utils.check_invalid(output_w_const)

# 1382 invalid nationalities found

   index nationality_code nationality  \
0     19              113        中華民國
1     20              113        中華民國
2     21              113        中華民國
3     23              024        中華民國
4     25              321        中華民國

                                              reason
0  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
1  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
2  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
3  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
4  中華民國國籍不應有國籍代碼 (ROC nationality should not have...

Counts by reason:
reason
中華民國國籍不應有國籍代碼 (ROC nationality should not have nationality code)    1382
Name: index, dtype: int64

# 137 invalid birthday dates found

   index                                            reason  year  month  day
0     65  該年11月沒有31日 Day 31 does not exist in 11 that year  2005     11   31
1     92    該年2月沒有30日 Day 30 does not exist in 2 that year  2004      2   30
2    260    該年2月沒有30日 Day 30 does not exist in 2 that year  2001      2   30
3    314    該年6月沒有31日 Day 31 does not exist in 6 that year  2001      6   31
4    317    該年2月沒有31日 Day 31 does not exist in 2 that year  2001      2   31

Counts by reason:
reason
該年11月沒有31日 Day 31 does not exist in 11 that year    14
該年2月沒有29日 Day 29 does not exist in 2 that year      16
該年2月沒有30日 Day 30 does not exist in 2 that year      28
該年2月沒有31日 Day 31 does not exist in 2 that year      24
該年4月沒有31日 Day 31 does not exist in 4 that year      16
該年6月沒有31日 Day 31 does not exist in 6 that year      20
該年9月沒有31日 Day 31 does not exist in 9 that year      19
Name: index, dtype: int64

# 9248 invalid departments found

   index department_code department_name  \
0      0             101             哲學系
1      1            1090           應用數學系
2      3            9010            歷史學系
3      4             703          電機工程學系
4      5             104           中國文學系

                                              reason
0  系所代碼與名稱不符，系所代碼應對應 中國文學系 (Department code and n...
1  系所代碼與名稱不符，系所代碼應對應 戲劇學系 (Department code and na...
2  系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and ...
3  系所代碼與名稱不符，系所代碼應對應 資訊科學系 (Department code and n...
4  系所代碼與名稱不符，系所代碼應對應 哲學系 (Department code and nam...

Counts by reason:
reason
系所代碼與名稱不符，系所代碼應對應 中國文學系 (Department code and name mismatch)        550
系所代碼與名稱不符，系所代碼應對應 人類學系 (Department code and name mismatch)         197
系所代碼與名稱不符，系所代碼應對應 化學系 (Department code and name mismatch)          255
系所代碼與名稱不符，系所代碼應對應 哲學系 (Department code and name mismatch)          542
系所代碼與名稱不符，系所代碼應對應 圖書資訊學系 (Department code and name mismatch)       221
系所代碼與名稱不符，系所代碼應對應 地理環境資源學系 (Department code and name mismatch)     219
系所代碼與名稱不符，系所代碼應對應 地質科學系 (Department code and name mismatch)        192
系所代碼與名稱不符，系所代碼應對應 外國語文學系 (Department code and name mismatch)       188
系所代碼與名稱不符，系所代碼應對應 大氣科學系 (Department code and name mismatch)        217
系所代碼與名稱不符，系所代碼應對應 心理學系 (Department code and name mismatch)        1048
系所代碼與名稱不符，系所代碼應對應 應用數學系 (Department code and name mismatch)        756
系所代碼與名稱不符，系所代碼應對應 戲劇學系 (Department code and name mismatch)         213
系所代碼與名稱不符，系所代碼應對應 教育學系 (Department code and name mismatch)         432
系所代碼與名稱不符，系所代碼應對應 數學系 (Department code and name mismatch)          192
系所代碼與名稱不符，系所代碼應對應 日本語文學系 (Department code and name mismatch)       228
系所代碼與名稱不符，系所代碼應對應 歷史學系 (Department code and name mismatch)         566
系所代碼與名稱不符，系所代碼應對應 物理學系 (Department code and name mismatch)         212
系所代碼與名稱不符，系所代碼應對應 資訊工程學系 (Department code and name mismatch)       805
系所代碼與名稱不符，系所代碼應對應 資訊科學系 (Department code and name mismatch)       1432
系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and name mismatch)       783
Name: index, dtype: int64

# 8289 invalid university-college relationships found

   index university_code college_code  \
0      2             002         2000
1      4             002         2000
2      5             002         9000
3      7             002         2000
4      8             002         2000

                                              reason
0  學院 2000 不屬於大學 002 (College does not belong to ...
1  學院 2000 不屬於大學 002 (College does not belong to ...
2  學院 9000 不屬於大學 002 (College does not belong to ...
3  學院 2000 不屬於大學 002 (College does not belong to ...
4  學院 2000 不屬於大學 002 (College does not belong to ...

Counts by reason:
reason
學院 100 不屬於大學 001 (College does not belong to university)       89
學院 1000 不屬於大學 002 (College does not belong to university)     656
學院 2000 不屬於大學 002 (College does not belong to university)    7043
學院 9000 不屬於大學 002 (College does not belong to university)     485
學院 ZA0 不屬於大學 001 (College does not belong to university)       16
Name: index, dtype: int64

# 3216 invalid universities found

   index university_code university  \
0      0             002     國立臺灣大學
1      6             002     國立臺灣大學
2      7             002     國立臺灣大學
3      8             002     國立臺灣大學
4     11             002     國立臺灣大學

                                              reason
0  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
1  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
2  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
3  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
4  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...

Counts by reason:
reason
大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and name mismatch)    3216
Name: index, dtype: int64

# 8394 invalid college-department relationships found

   index college_code department_code  \
0      1          100            1090
1      2         2000             703
2      3         2000            9010
3      4         2000             703
4      5         9000             104

                                              reason
0  系所 1090 不屬於該學院 (Department does not belong to ...
1  系所 703 不屬於該學院 (Department does not belong to c...
2  系所 9010 不屬於該學院 (Department does not belong to ...
3  系所 703 不屬於該學院 (Department does not belong to c...
4  系所 104 不屬於該學院 (Department does not belong to c...

Counts by reason:
reason
系所 101 不屬於該學院 (Department does not belong to college)      360
系所 1010 不屬於該學院 (Department does not belong to college)     190
系所 102 不屬於該學院 (Department does not belong to college)      403
系所 1020 不屬於該學院 (Department does not belong to college)     188
系所 103 不屬於該學院 (Department does not belong to college)      371
系所 1030 不屬於該學院 (Department does not belong to college)     170
系所 104 不屬於該學院 (Department does not belong to college)      350
系所 1040 不屬於該學院 (Department does not belong to college)     164
系所 1050 不屬於該學院 (Department does not belong to college)     187
系所 1060 不屬於該學院 (Department does not belong to college)     212
系所 1070 不屬於該學院 (Department does not belong to college)     217
系所 1090 不屬於該學院 (Department does not belong to college)     207
系所 2010 不屬於該學院 (Department does not belong to college)      56
系所 2020 不屬於該學院 (Department does not belong to college)      53
系所 2030 不屬於該學院 (Department does not belong to college)      70
系所 2040 不屬於該學院 (Department does not belong to college)      56
系所 2070 不屬於該學院 (Department does not belong to college)      64
系所 2080 不屬於該學院 (Department does not belong to college)      66
系所 2090 不屬於該學院 (Department does not belong to college)      58
系所 701 不屬於該學院 (Department does not belong to college)      821
系所 702 不屬於該學院 (Department does not belong to college)      844
系所 703 不屬於該學院 (Department does not belong to college)     1661
系所 9010 不屬於該學院 (Department does not belong to college)     816
系所 9020 不屬於該學院 (Department does not belong to college)     810
Name: index, dtype: int64

# 6458 invalid colleges found

   index college_code college  \
0      0          100    資訊學院
1      1          100    資訊學院
2      3         2000     文學院
3      4         2000  電機資訊學院
4      5         9000    資訊學院

                                              reason
0  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
1  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
2  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
3  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
4  學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and nam...

Counts by reason:
reason
學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name mismatch)       1693
學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name mismatch)       4283
學院代碼與名稱不符，學院代碼應對應 資訊學院 (College code and name mismatch)       120
學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and name mismatch)     362
Name: index, dtype: int64

# 9153 invalid zodiac signs found

   index                      reason  month  day zodiac expected_zodiac
0      0  星座與出生日期不匹配 Zodiac mismatch      6   19    巨蟹座             雙子座
1      1  星座與出生日期不匹配 Zodiac mismatch     12   10    雙子座             射手座
2      2  星座與出生日期不匹配 Zodiac mismatch      2   14    天秤座             水瓶座
3      3  星座與出生日期不匹配 Zodiac mismatch      8   27    牡羊座             處女座
4      4  星座與出生日期不匹配 Zodiac mismatch      4   30    摩羯座             金牛座

Counts by reason:
reason
星座與出生日期不匹配 Zodiac mismatch    9153
Name: index, dtype: int64

Total invalid records: 46277
Unique invalid records: 9999