In [1]:
import pandas as pd
from datetime import timedelta

In [9]:
csv = r"D:\Temp\OJN_seismic_data.csv"
csv = r"D:\Projects\whakaari\output\OJN_tremor_data_nitp.csv"

In [10]:
df = pd.read_csv(csv, parse_dates=['time'])

In [11]:
df["time"] = pd.to_datetime(df["time"])

In [12]:
new_df = df[["time"]]

In [13]:
new_df["diff"] = new_df["time"].diff()

D:\Projects\miniconda3\envs\whakaari\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
check_df = new_df[new_df["diff"] != timedelta(minutes=10)]

In [15]:
check_df

        time diff
0 2024-12-31  NaT